.react-modal-sheet-container {
    width: 360px !important;
    top: 30% !important;
    left: 50% !important;
    margin-left: -180px; /* width의 절반 값 */
    max-height: calc(100vh - 20px) !important;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.react-modal-sheet-content {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

#filter-btn {
    border:none;
    margin: 5px;
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 0px;
}