#checkbox-container input {
    /* width: 100px; */
    /* height: 100%; */
    z-index: 100;
    opacity: 0;
    cursor: pointer;
    height: 100px;
}

#options-container{
    display: flex;
    flex-wrap: wrap;
}

#checkbox-container label{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#checkbox-container input{
    display: none;
    display: flex;
    height: 100px;
}

#checkbox-container span {
    display: flex;
    display: block;
    text-align: center;
    color: #777777;
    padding: 5px;
    margin: 5px;
    width: 100px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #777777;
}

#checkbox-container input:checked ~ span{
    background-color: #3B89FD;
    color: white;
    border:none;
}

#submit-btn{
    width: 100%;
    cursor: pointer;
    background-color: #3B89FD;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border: none;
    font-size: 16px;
    width: 90%;
    border-radius: 4px;
}