:root{/* 변수 정의 */
--component-width: 345px;
}

.leaflet-top.leaflet-left{
    top: 50px !important;
}

.leaflet-bar.leaflet-control{
    margin: auto;
    z-index:1000;
}

.leaflet-bar-part.leaflet-bar-part-single{
    width: var(--component-width) !important;
    background-color: #fff;
    margin:auto;
    border:none;
    border-radius: 4px;
}



.leaflet-bar.leaflet-control{
    width: 90%;
}

.leaflet-bar.leaflet-control input{
    margin: 5px;
    width: 260px;
    border:none;
  }
  
#search-btn {
    border:none !important;
    margin: 5px;
    cursor: pointer;
    background-color: #ffffff;
    float: right;
}

.leaflet-bar-part.leaflet-bar-part-single{
    width: 100%;
}

.leaflet-search-control.form-control{
    width: 270px !important;
    border: none !important;
}

#submit-btn{
    width: 100%;
    cursor: pointer;
    background-color: #3B89FD;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border: none;
    font-size: 16px;
    width: 90%;
    border-radius: 4px;
}

#checkbox-container{
    display:flex;
    flex-wrap:wrap;
}

#checkbox-container div{
    margin: 5px;
    margin-right: 10px;
}

#checkbox-container input {
    /* width: 100px; */
    /* height: 100%; */
    z-index: 100;
    opacity: 0;
    cursor: pointer;
}

#options-container{
    display: flex;
    flex-wrap: wrap;
}

#checkbox-container div{
    width: 100px;
}

#checkbox-container label{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#checkbox-container input{
    display: none;
    display: flex;
    width: 100%;
    /* height: 100%; */
}

#checkbox-container span {
    display: flex;
    display: block;
    text-align: center;
    color: #777777;
    padding: 5px;
    margin: 5px;
    width: 100px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #777777;
}

#checkbox-container input:checked ~ span{
    background-color: #3B89FD;
    color: white;
    border:none;
}

#submit-btn{
    width: 100%;
    cursor: pointer;
    background-color: #3B89FD;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border: none;
    font-size: 16px;
    width: 90%;
    border-radius: 4px;
}

#bring-addr-btn{
    position: absolute;
    top: 150px;
    left: -1px;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

}


#radius-select {
    padding: 5px;
    width: 60%;
    cursor: pointer;
}

.popup {
    display: block;
    position: fixed;
    width: var(--component-width);
    margin: auto;
    height: 100px;
    z-index: 1001;
    top: 38px

#guite-txt {
    padding-left: 2%;
    font-weight: 700;
    font-size: 16px;

}