.modal-portal{
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:fit-content;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background-color: rgba( 0, 0, 0, 0.5 ) !important;
    margin: auto;
    /* width: 360px; */
}

.ReactModal__Content.ReactModal__Content--after-open{
    opacity: 1 !important;
}