
.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 80vh; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤을 가능하게 함 */
  background-color: white;
  padding: 20px;
}

#radar-checkbox-container {
    display: flex;
    flex-wrap: wrap;
  }

#radar-checkbox-container input[type="checkbox"]{
    display:none;
}
  
#radar-checkbox-container label {
    display: inline-block;
    width: fit-content;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    margin-right: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
  }
  
  #radar-checkbox-container label.checked {
    background-color: #3B89FD; /* 체크박스 선택 시 배경색 변경 */
    color: #fff; /* 체크박스 선택 시 글씨 색상 변경 */
    border: 1px solid #3B89FD;;
  }

  #radar-radius-selector{
    width: 95%;
    height: 32px;
  }

  #radar-radius-selector select{
    float: right;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
  }

  #section-hr{
    height: 10px;
    background-color: #d5d5d5;
    border: none;
}

#total-comp {
  display: flex;
  width: 100%;
}

#total1, #total2 {
  width: 50%;
  margin-right: 10px;
  /* border: 1px solid #d5d5d5; */
  /* padding: 5px; */
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
}

#living-score {
  text-align: left;
  font-weight: 700;
  font-size: 1.2em;
}

#hash-txt-1, #hash-txt-2{
  font-size: 12px;
  padding: 3px;
}

#hash-txt-1{
  color: rgb(75, 192, 192);
}

#hash-txt-2{
  color: rgb(255, 99, 132)
}

#hash-list{
  width: 250px;
  text-align: right;
}

#total-score{
  padding: 2%;
}

#radar-guide{
  font-size: 14px;
  margin: 0;
}

#caution {
  font-size: 12px;
  color: #777;
  margin: 0;
}

#guide-compare{
  line-height: 1.5;
}