.result-sheet-container {
    width: 360px !important;
    top: 65% !important;
    left: 39.5% !important;
    margin: -25px 0 0 -25px;
    text-align: center;
}


#review-btn, #dashboard-btn, #like-btn{
    border: none;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    float: right;
}

#review-upload-btn {
    color: #fff;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3B89FD;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
}