.result-sheet-container {
    width: 360px !important;
    top: 65% !important;
    left: 39.5% !important;
    margin: -25px 0 0 -25px;
    text-align: center;
}


#review-btn, #dashboard-btn, #like-btn{
    border: none;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    float: right;
}

#review-upload-btn {
    color: #fff;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3B89FD;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    width: 90%;
    margin-top: 10px;
}

#review-upload-form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#review-area{
    width:90%;
    max-height: 100px;
}

#review-list {
    list-style: none;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: auto;
}

#review-list li p{
    line-height: 0.5;
  }
  
#review-list li p{
    margin:0;
    line-height: 1.2;
  }
  
  #review-username{
    font-weight: 700;
  }
  #review-content{
    font-size: 14px;
  }
#review-created-at{
    font-size: 12px;
    color: #777;
}

#continue-btn {
  color: #3B89FD;
  border: none;
  background-color: #fff;
  font-weight: 700;
  /* float: right; */
  text-align: right;
}

#result-header{
  display: flex;
}

#result-header h4{
  width: 80%;
}

#review-container {
  min-height: 100vh;
}


.btn-section{
  display: inline;
}