.mypage {
  text-align: right;
}
.mypage-button {
    position: absolute;
    /* top: 90%; */
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding:10px;
    border-radius: 50%;
    width: 48px;
    height:48px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  }
  
  .mypage-button svg{
    width: 18px !important;
    height: 100%;
  }

  #get-review-btn{
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: right;
  }

#mylike-list, #myreview-list{
  list-style: none;
  padding-left: 2%;
  padding-right: 2%;
}

#myreview{
  line-height: 1.2;
}

#myreview p{
  line-height: 0.5;
}

#review-addr{
  font-weight: 700;
}
#review-content{
  font-size: 14px;
}
#review-created-at{
  font-size: 12px;
  color: #777;
}

#sections{
  height: 10px;
  background-color: #d5d5d5;
}

#seemore-btn {
  color: #fff;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3B89FD;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  width: 100%;
}

#clicked-index{
  float: right;
}

#mylike-list-title, #myreview-list-title {
  padding: 2px;
}

#logout-btn {
  width: 95%;
  cursor: pointer;
  background-color: #c4c4c4;
  color: #333;
  font-weight: 700;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}