@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  font-family: 'Pretendard';
}

/* index.html */
#root {
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
  position: relative;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 지도 나타냄 */
.leaflet-container {
  height: 100vh;
}

.map-container {
  position: relative;
}

form {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  padding: 3px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

svg {
  color: #c4c4c4;
}


.mypage-button {
  position: absolute;
  top: 90%;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.mypage-button svg {
  width: 18px !important;
  height: 100%;
}

/* 모바일 환경 */
@media (max-width: 768px) and (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  #root {
    width: 100%;
    height: calc(100vh - 56px) !important; /* 상단 바의 높이를 고려한 뷰포트 높이 */

  }

  .leaflet-container {
    height: calc(100vh - 56px) !important; /* 상단 바의 높이를 고려한 뷰포트 높이 */
  }
  
}