@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  font-family: 'Pretendard';
}

#map{
  width: 360px !important;
  height: 740px !important;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root { height: 100vh;}

.leaflet-container{
  height: 100vh;
}

.map-container {
  position: relative;
}


form {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  background-color: #fff;
  padding: 3px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 600px; */
  width: 100%;
}

svg {
  color: #c4c4c4;
}

.App {
  position: relative;
}

.mypage-button {
  position: absolute;
  top: 90%;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding:10px;
  border-radius: 50%;
  width: 48px;
  height:48px;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.mypage-button svg{
  width: 18px !important;
  height: 100%;
}

#logout-btn{
  width: 100%;
  cursor: pointer;
  background-color: #c4c4c4;
  color: #333;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
}